/**
 * Menus
 */
.menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu__item {
	color: $color-nav-link-text;
	line-height: 1.25;

	a {
        font-size: 0.8em;
        font-weight: 100;
	}

	a:not(.btn) {
		color: inherit;
		display: inline-block;
		position: relative;
        text-decoration: none;
        font-size: 1.06em;
	}

	a:not(.btn):hover,
	&.is-active a {
        text-decoration: underline;
	}
}